.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .card-imagem {
    /* width: 80;  Perguntar para o prof quando eu preencho com 80px ele destorce a imagem. e quando deixo 80 sem nada ou até mesmo comento ele mostra a iamgem corrreta */  
    height: 100px;
    margin-bottom: 1rem;
  }