.rodape {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-style: italic;
    background-color: rgb(243, 230, 230);
    padding: 6px;
    border: 1px solid gray;
    border-radius: 10px;
    width: auto;
    margin: 6px auto;
  }