
.blog-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 16px;
}

.blog-titulo {
    color: brown;
  }
  
  .paragrafo {
    font-style: italic;
    text-align: center;
    margin: 8px;
    padding: 8px;
  }
  
  .blog-corpo {
    background-color: white;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    margin: 8px auto;
  }
